:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: var(--text);

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: var(--dark);
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

input {
  display: block;
}

.items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.current {
  color: var(--pressed-state);
}

/* Container */

.container {
  margin: 0 auto;
  padding: 96px 16px;
}

@media screen and (max-width: 767px) {
  .container {
    width: 428px;
  }
}

/* Section */

.section {
}

@media screen and (max-width: 479px) {
  .section {
    min-width: 479px;
  }
}

/**
  |============================
  | Header
  |============================
 */

header .container {
  padding-top: 24px;
  padding-bottom: 24px;

  display: flex;
}

@media screen and (max-width: 767px) {
  header .container {
    position: relative;
    justify-content: space-between;
    align-items: center;
  }
}

/* Logo */

.logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo.top {
  color: var(--dark);
}

.logo-accent {
  color: var(--primary-brand);
}

/* Header Button */

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 0;
  border: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

/* Mobile Menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;

  background-color: #ffffff;

  opacity: 0;
  pointer-events: none;

  overflow-y: scroll;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.menu-box {
  position: relative;

  display: block;

  padding-top: 80px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;

  width: 100%;
}

.is-open {
  opacity: 1;

  pointer-events: all;
}

.menu-close-button {
  position: absolute;
  top: 40px;
  right: 40px;

  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--accent);

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.mob-menu-list {
  margin-bottom: 284px;

  color: var(--dark);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.mob-menu-item {
  display: block;

  margin-bottom: 40px;
}

.mob-menu-item:active {
  color: var(--pressed-state);
}

.contact-list {
  margin-bottom: 48px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.contact-item:not(:last-child) {
  margin-bottom: 40px;
}

.contact-link {
  color: var(--text);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  transition: color var(--time-function), font-weight var(--time-function),
    font-size var(--time-function), line-height var(--time-function);
}

.contact-link:active {
  color: var(--pressed-state);

  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
}

.mob-social-list {
  display: flex;
  gap: 56px;
}

.mob-social-item {
  background-color: var(--primary-brand);

  border-radius: 50px;
}

.mob-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--light);

  width: 40px;
  height: 40px;
}

.social-icon {
  fill: currentColor;
}

/* Navigation and Address */

.nav-box {
  display: none;
}

.address-box {
  display: none;
}

/**
  |============================
  | Hero
  |============================
*/

.hero.section {
  margin: 0 auto;

  color: #ffffff;

  text-align: center;
}

@media screen and (max-width: 767px) {
  .hero.section {
    width: 428px;

    padding: 112px 0;

    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people_office_mobile.jpg);
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero.section {
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people_office_mobile@2x.jpg);
    background-size: cover;
  }
}

.hero-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.hero-button {
  padding: 16px 32px;

  background-color: var(--primary-brand);
  color: #ffffff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}

/**
  |============================
  | Feature Section
  |============================
*/

.feature {
  text-align: center;
}

.feature-title {
  display: none;
}

.feature-item:not(:last-child) {
  margin-bottom: 72px;
}

.feature-icon-box {
  display: none;
}

.feature-subtitle {
  margin-bottom: 8px;

  color: var(--dark);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.feature-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

/**
   |============================
   | Explanatory Section 
   |============================
 */

.explan {
  display: none;
}

/**
  |============================
  | Team Section
  |============================
*/

.team.section {
  background-color: var(--light);
}

@media screen and (max-width: 479px) {
  .team.section {
    text-align: center;
  }
}

.title {
  margin-right: auto;
  margin-bottom: 72px;

  color: var(--dark);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.team-img {
  margin: 0 auto;
}

.social-list {
  display: flex;
}
